<!DOCTYPE html>
<html>
<style>
body { font-family: Arial, sans-serif; margin: 50px; background: gold;}
input { padding: 10px; width: 300px; }  
button { padding: 10px 20px; background-color: red; color: white;}
button:hover { background-color: #007BFF; color: white; }


</style>
<body>
    <h3>Phishing URL Detector</h3>
    <p>Example: https://www.paypal.com/login</p>
    <form method="post">
        Enter URL: <input name="url">
        <button>Check</button>
    </form>
</body>

</html>